.header {
  width: 100%;
  font-size: 2rem;
  color: black;
  margin-bottom: 10px;
  font-family: 'Saira Extra Condensed', serif; 
}

.title {
  float: left;
}

.scores {
  float: right;
}

@media (max-width:754px) {
  .title {
    font-size: 1.25rem;
  }
  .scores {
    font-size: 1.25rem;
  }
}